<table class="Product_Edit" id="Product_Edit" >
    <tr hidden="hidden">
        <td> ID </td>
        <td><a class="Edit_ID" id="Edit_ID"> <%= id %></a></td>
    </tr>
    <tr>
        <td>Name</td> 
        <td><input id="Edit_Name" class="Edit_Name" value="<%= Name %>" /></td> 
    </tr>
    <tr>
        <td>Category</td>
        <td><input id="Edit_Category" class="Edit_Category" value="<%= Category %>" /></td>
    </tr>
    <tr>
        <td>Price</td>
        <td>
        <td><input id="Edit_Price" class="Edit_Price" value="<%= Price %>" /></td> </td>
    </tr>
    <tr>
        <td></td>
        <td><a onclick="">Submit</a></td>
    </tr>
</table>
